@import "./component/core";
@import "./component/variable";
@import "./component/dialog";
@import "./component/warning";
@import "./component/header";
@import "./component/footer";
@import "./component/menu";
@import "./component/form";
body{
	background-color:$blue4;
}
form{
	margin:100px auto;
	padding:0 20px;
	width:320px;
	height:360px;
}
.footer{
	position:fixed;
	bottom:0;
	width:100%;
}