@import "./variable";
.menu{
	a{
		text-align:center;
		color:white;
		cursor:pointer;
	}
	a.normal{
		background-color:$blue2;
	}
	a.current{
		background-color:$blue1;
	}
}
.menu.horizontal{
	width:100%;
	overflow:hidden;
	background-color:$blue2;
	.w1200{
		a{
			float:left;
			display:block;
			padding:0 28px;
			height:40px;
			line-height:40px;
			font-size:14px;
			font-weight:500;
		}
	}
}
.menu.vertical{
	a{
		display:block;
		width:100%;
	}
}