$blue1:rgb(0, 96, 192);
$blue2:rgb(0, 128, 255);
$blue3:rgb(128, 192, 255);
$blue4:rgb(192, 224, 255);
$red1:rgb(255, 64, 64);
$red2:rgb(255, 128, 128);
$red3:rgb(255, 224, 224);
$yellow1:rgb(255, 255, 192);
$yellow2:rgb(240, 240, 128);
$yellow3:rgb(240, 240, 64);
$grey1:rgb(128, 128, 128);
$grey2:rgb(224, 224, 224);
$grey3:rgb(240, 240, 240);
.left{
	float:left;
}
.right{
	float:right;
}