@import "reset";
@import "core";
topNavHeight = 40px
.page
	padding-top topNavHeight
.fixedNav
	position fixed
	top 0
	left @top
	height topNavHeight
	background-color rgb(234, 234, 234)
	border-bottom 1px solid rgb(201, 201, 201)
	.w1200
		margin 0 auto
		.btn
			margin 0 10px
			line-height -2+topNavHeight
			font-size 18px
			&.left
				float left
			&.right
				float right
			&:hover
				color rgb(64, 128, 255)
.home
	.w1200
		margin 0 auto
		.case
			float left
			margin-top 10px
			padding 10px
			width 100%
			overflow hidden
			border 1px solid rgb(201, 201, 201)
			box-shadow 1px 1px 2px 0 rgb(234, 234, 234)
			&:hover
				border-color rgb(64, 128, 255)
				a
					color rgb(64, 128, 255)
			img
				float left
				margin-right 10px
				width 200px
				height 100px
				border 1px solid rgb(201, 201, 201)
			h1
				float left
				width 966px
				font-size 24px
				line-height 1.5
			p
				float left
				display box
				width 966px
				overflow hidden
				box-orient vertical
				-webkit-line-clamp 3
				text-overflow ellipsis
				word-break break-all
				font-size 14px
				line-height 20px
.article
	.w1200
		margin 10px auto
		padding 20px
		border 1px solid rgb(201, 201, 201)
	h1
		font-size 36px
		line-height 72px
	h2
		font-size 32px
		line-height 60px
	h3
		font-size 28px
		line-height 48px
	h4
		font-size 24px
		line-height 36px
	h5
		font-size 20px
		line-height 24px
	h6
		font-size 16px
		line-height 20px
	ul
	ol
		list-style-position inside
	ul
		list-style-type circle
	ol
		list-style-type decimal
	p
		font-size 14px
		line-height 18px
	img
		margin 10px 0
	hr
		margin 10px 0
		border-top-width 0
		border-bottom-color rgb(222, 222, 222)
	br
		line-height 24px
	code
		display inline-block
		background-color rgb(234, 234, 234)
		font-family monospace
	pre
		code
			margin 10px 0
			width 100%
			padding 15px
			line-height 1.5
	p
	li
		code
			margin 0 4px
			padding 4px
	blockquote
		margin 8px 0
		padding-left 10px
		border-left 4px solid rgb(222, 222, 222)
		font-size 14px