.banner
	position relative
	float left
	width 100%
	height 480px
	border-style solid
	border-color rgb(64, 128, 255)
	border-width 3px 0 0
	.img
		position absolute
		top 0
		left @top
		width 100%
		height @width
		background-color rgb(255, 255, 255)
		background-position 50% 50%
	.indicator
		btnSize = 10px
		position absolute
		bottom (btnSize*2)
		left 50%
		padding 2px 4px
		background-color rgba(255, 255, 255, .6)
		border-radius 6px
		transform translateX(-@left)
		z-index 1
		em
			float left
			display block
			width btnSize
			height @width
			background-color rgb(64, 128, 255)
			border 1px solid rgb(234, 234, 234)
			border-radius 50%
			cursor pointer
			&.current
				background-color rgb(255, 128, 64)
			&:not(:last-of-type)
				margin-right (btnSize/5*2)
	&.tab
		.img
			&.current
				z-index 1
	&.fade
		.img
			opacity 0
			&.current
				animation fade 1s forwards
@keyframes fade
	to
		opacity 1