.w1200
	width 1200px
icon-column()
	box-shadow (arguments[0]*2/-10)px 0 0 arguments[1] inset,
			(arguments[0]*2/10)px 0 0 arguments[1] inset,
			0 (arguments[0]*2/10+1)px 0 arguments[1] inset,
			0 (arguments[0]*3/10+1)px 0 arguments[2] inset,
			0 (arguments[0]*4/10+1)px 0 0 arguments[1] inset,
			0 (arguments[0]*5/10+1)px 0 arguments[2] inset,
			0 (arguments[0]*6/10+1)px 0 arguments[1] inset,
			0 (arguments[0]*7/10+1)px 0 arguments[2] inset