.footer
	background-color rgb(36, 36, 36)
	border-top 3px solid rgb(64, 128, 255)
	.w1200
		margin 0 auto
		padding 10px 0
		text-align center
	a
		font-size 12px
	.top
		a
			margin-right 18px
			line-height 2
			color rgb(255, 255, 255)
	.bottom
		a
			margin-right 12px
			line-height 1.5
			color rgb(201, 201, 201)
			&.cnzz:before
				margin-right 6px
				display inline-block
				content ""
				width 50px
				height 14px
				background-image url(http://static.ikindness.cn/static/image/cnzz.gif)
				background-repeat no-repeat
				background-position 0 -1px
				vertical-align middle