@import "reset"
@import "core"
@import "header"
@import "footer"
@import "banner"
.facade
	float left
	width 100%
	overflow hidden
	.w1200
		position relative
		margin 0 auto
	.category
		position absolute
		top 0
		left 0
		width 180px
		height 320px
		background-color rgb(0, 100, 255)
		z-index 1
		.section
			float left
			padding 5px 10px
			width 100%
			border-bottom 1px solid rgb(0, 92, 234)
			box-shadow 0 1px 0 0 rgb(0, 128, 255)
			&:hover
				background-color rgb(0, 48, 204)
			.sup
				float left
				display block
				width 100%
				font-size 15px
				font-weight bold
				line-height 1.2
				color rgb(0, 255, 64)
			.sub
				margin-right 10px
				font-size 13px
				color rgb(255, 255, 255)
				&:hover
					color rgb(0, 255, 64)