@import "reset"
@import "core"
icon-column()
	box-shadow 0 12px 0 0 arguments[0] inset,
			0 14px 0 0 arguments[1] inset,
			0 16px 0 0 arguments[0] inset,
			0 18px 0 0 arguments[1] inset,
			0 20px 0 0 arguments[0] inset,
			0 22px 0 0 arguments[1] inset
.topNav
	float left
	width 100%
	height 36px
	background-color rgb(234, 234, 234)
	border 1px solid rgb(201, 201, 201)
	.w1200
		position relative
		margin 0 auto
	.supNav
		display block
		padding 0 10px
		height 35px
		text-align center
		font-size 14px
		line-height 35px
		i
			margin-right 5px
			display inline-block
			width 12px
			height 35px
			vertical-align middle
			icon-column rgb(234, 234, 234) rgb(102, 102, 102)
		a
			color rgb(102, 102, 102)
	a.supNav
		float left
		color rgb(102, 102, 102)
		&:hover
			color rgb(64, 128, 255)
	div.supNav
		float right
		border 1px solid transparent
		&:hover
			background-color rgb(255, 255, 255)
			border-right-color rgb(201, 201, 201)
			border-left-color rgb(201, 201, 201)
			i
				icon-column rgb(255, 255, 255) rgb(64, 128, 255)
			> a
				color rgb(64, 128, 255)
			.subNav
				display block
		.subNav
			position absolute
			display none
			top 35px
			left 0
			padding 10px
			width 1200px
			overflow hidden
			border-width 0 1px 1px
			border-style solid
			border-color rgb(201, 201, 201)
			text-align initial
			.section
				float left
				padding 0 10px
				width 50%
				&:hover
					background-color rgb(234, 234, 234)
			h1
				line-height 14px
				span
					padding 0 3px
					background-color rgb(255, 0, 0)
					border-radius 2px
					font-size 12px
					color rgb(255, 255, 0)
				strong
					margin-left 4px
					font-size 14px
					font-weight bold
				b
					margin-left 6px
					font-size 12px
			h2
				font-size 12px
				span
					color rgb(102, 102, 102)
				b
					margin-right 3px
					font-weight bold
					color rgb(0, 128, 255)
					&:first-of-type:before
						margin-left 10px
						content "参数:"
						color rgb(0, 0, 0)
			

.footer
	position absolute
	bottom 0
	width 100%
	background-color rgb(36, 36, 36)
	border-top 3px solid rgb(64, 128, 255)
	.w1200
		margin 0 auto
		padding 10px 0
		text-align center
	a
		font-size 12px
	.top
		a
			margin-right 18px
			line-height 2
			color rgb(255, 255, 255)
	.bottom
		a
			margin-right 12px
			line-height 1.5
			color rgb(201, 201, 201)