doctype
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge, chrome=1")
		each i in style
			link(rel="stylesheet", href=i)
		title!= title
	body
		.main!= page
		script(src="/lib/dependencies.min.js")
		script(src="/lib/jquery@2.2.0.min.js")
		each i in script
			script(src=i)